secrets = {
    'ssid' : 'your-wifi-ssid',
    'password' : 'your-wifi-password',
    'timezone' : "America/Los_Angeles", # http://worldtimeapi.org/timezones
    'aio_username' : 'your-adafruit-io-username',
    'aio_key' : 'your-adafruit-io-key',
    'mqtt_broker' : '10.0.1.101',
    'port' : 1883,
    'channel' : 4,
    'openweather_token' : 'your-openweather-api-key',
    'update_server' : 'http://10.0.1.100:8000',  # OTA update server
    'device_id' : 'desk',  # Unique device ID: 'desk', 'remote', etc.
}